name: Continuous Deployment
on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: pip install huggingface-hub
        
      - name: Deployment To Hugging Face
        env:
          REPO_NAME: ${{ github.repository_owner }}/mon-modele
          HF: ${{ secrets.HF_TOKEN }}
